/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* ================================= 
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
	font-family: Avenir Next, Roboto, Helvetica Neue, Arial, sans-serif;
	color: #363840;
	background-color: whitesmoke;
	margin: 0 auto;
}

h1 {
	font-family: Baskerville, Georgia, Futura, serif;
	margin-bottom: -10px;
	margin-top: -0px;
}

h3 {
	font-family: Baskerville, Georgia, Futura, serif;
	margin-bottom: -10px;
	margin-top: -0px;
}

/* ================================= 
  Navbar
==================================== */

nav {
	background-color: white;
	display: block;
	overflow: hidden;
}

/* Selects all children within nav*/
nav * {
	display: inline-block;
}

/* This is the menu icon for mobile */
nav div {
	background-color: white;
	padding: 1em;
	display: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	float: right;
}

ul li a {
	text-decoration: none;
	padding: 1em;
	cursor: pointer;
}

ul li a:hover {
	background-color: #EEEDF7;
	transition: 0.5s;
}

ul li a:not(:hover) {
	background-color: none;
	transition: 0.5s;
}

nav h1 {
	color: #363840;
	padding: 0.85em 1em 1em 0.85em;
	line-height: 0;
	display: inline-block;
}

nav h1 a:hover {
	color: #25C4DE;
	transition: 0.5s;
}

nav h1 a:not(:hover) {
	color: #363840;
	transition: 0.5s;
}

a:link {
	text-decoration: none;
	color: #363840;
}

a:visited {
	color: #363840;
}



/* ================================= 
  Base Layout Styles
==================================== */

#intro-bg {
	margin-top: 0em;
	background: #25C4DE linear-gradient(45deg, #F2AB25, #E65EDA, #25C4DE, #574FE6);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

#intro {
	margin: 0 auto;
	background: white;
	
	/*This turns off below medium sizes*/
	box-shadow: 0px 25px 50px #574FE6; 
}

#card {
	margin: 0 auto;
	background: white;
	
	/*This turns off below medium sizes*/
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}

/* Footer */
footer {
	background-color: #9695AD;
	width: 100%;
}

footer p {
	font-size: 1em;
	color: #E4E3F2;
}

br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 1em; /* change this to whatever height you want it */
}

/* Changes the mouse to a pointer when mousing over the email address*/
#email  {
	color: white;
	cursor: pointer;
}

#email:hover {
	color: #363840;
	transition: 0.5s;
}

#email:not(:hover)  {
	color: white;
	transition: 0.5s;
}


/* Media queries ------------------ */

/* Small */
@media (max-width: 767.98px)
{
	#intro {		
		/*This turns off below medium sizes*/
		box-shadow: 0px 15px 30px #574FE6;
	}

	/* Mobile Nav */
	nav div {
		padding: 1em 1em 0.25em 1em;
		margin: auto 0;
		display: block;
		position: relative;
		overflow: hidden;
	}

	/* Mobile Nav Title */
	nav div h3 {
		padding: 0.25em 0em;
		display: inline-block;
		cursor: pointer;
		float: none;
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
	}

	nav div h3:hover {
		color: #25C4DE;
		transition: 0.25s;
	}

	/* Desktop Nav Title */
	nav h1 {
		display: none;
	}

	/* Mobile Nav Menu Icon */
	nav div img {
		float: left;
		padding-bottom: 0.5em;
		cursor: pointer;
		background-color: white;
	}

	nav div img:hover {
		filter: opacity(50%);
		transition: 0.5s;
	}

	nav div img:not(:hover) {
		filter: opacity(100%);
		transition: 0.5s;
	}

	ul {
		display: none;
		position: static;
		background: white;
		float: left;
	}

	/* vertically stacks the menu items*/
	ul li {
		display: block;
	}

	ul li a {
		width: ;

	}
}


/* Very Small */
@media (max-width: 575px)
{
	#card {
		box-shadow: none;
	}
}