/* Web Fonts -------------------- */

@font-face {
  font-family: 'Abolition Regular';
  src: url('../fonts/abolition-regular-webfont.eot');
  src: url('../fonts/abolition-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/abolition-regular-webfont.woff') format('woff'),
       url('../fonts/abolition-regular-webfont.ttf') format('truetype');
}

/* ================================= 
  Base Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
	font-family: Avenir Next, Roboto, Helvetica Neue, Arial, sans-serif;
	color: #363840;
	background-color: whitesmoke;
	margin: auto;
}

h1 {
	font-family: Baskerville, Georgia, Futura, serif;
	margin-bottom: -10px;
	margin-top: -0px;
}


/* ================================= 
  Base Layout Styles - Mobile first
==================================== */

#intro-bg {
	background: #25C4DE linear-gradient(45deg, #F2AB25, #E65EDA, #25C4DE, #574FE6);
	background-size: 400% 400%;
	-webkit-animation: Gradient 10s ease infinite;
	-moz-animation: Gradient 10s ease infinite;
	animation: Gradient 10s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@-moz-keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@keyframes Gradient {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

#intro {
	margin: 0 auto;
	background: white;
	
	/*This turns off below medium sizes*/
	box-shadow: 0px 25px 50px #574FE6; 
}

#card {
	margin: 0 auto;
	background: white;
	
	/*This turns off below medium sizes*/
	box-shadow: 0px 5px 10px rgba(0,0,0,0.3);
}


/* Pseudo-classes ------------------ */

a:link {
	text-decoration: none;
}

a:visited {
	color: white;
}

/* Media queries ------------------ */

/* Small */
@media (max-width: 767.98px)
{
	#intro {		
		/*This turns off below medium sizes*/
		box-shadow: 0px 15px 30px #574FE6;
	}

	#caption {
		padding-top: 25px;

	}

}